<div class="row justify-content-center py-5">
    <div class="card col-8">
        <div class="card-header">
            <h3>{{title}}</h3>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{post_body}}</p>
                <footer class="blockquote-footer">{{user.username}} on {{createdAt}}</footer>
            </blockquote>
        </div>
    </div>
</div>