{{!-- form for posting followed by all of the user posts --}}
<div class="container">
    <form class="blog-form py-5">
        <div class="mb-3">
            <label for="post-title" class="form-label">Title</label>
            <div class="row">
                <input type="text" class="form-control" id="post-title" placeholder="Enter your post title.">
            </div>
        </div>
        <div class="mb-3">
            <label for="post-body" class="form-label">Blog</label>
            <div class="row">
                <input type="text" class="form-control" id="post-body" placeholder="Enter your blog entry.">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Post blog!</button>
        </div>
    </form>
</div>

<div class="container py-5">
    <div class="post-list">
        {{#each posts as |post|}}
        <div>
            {{> post-view post }}
        </div>
        {{/each}}
    </div>
</div>

<script src="/javascript/blogpost.js"></script>