<div class="p-5">
    <form class="login-form">
        <div class="row mb-3">
            <label for="email-login" class="col-1 col-form-label">Email</label>
            <div class="col-5">
                <input type="email" class="form-control" id="email-login">
            </div>
        </div>
        <div class="row mb-3">
            <label for="password-login" class="col-1 col-form-label">Password</label>
            <div class="col-5">
                <input type="password" class="form-control" id="password-login">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
<script src="/javascript/login.js"></script>