<div class="p-5">
    <form class="signup-form">
        <div class="row mb-3">
            <label for="username-signup" class="col-1 col-form-label">Username</label>
            <div class="col-5">
                <input type="text" class="form-control" id="username-signup">
            </div>
        </div>
        <div class="row mb-3">
            <label for="email-signup" class="col-1 col-form-label">Email</label>
            <div class="col-5">
                <input type="password" class="form-control" id="email-signup">
            </div>
        </div>
        <div class="row mb-3">
            <label for="password-signup" class="col-1 col-form-label">Password</label>
            <div class="col-5">
                <input type="password" class="form-control" id="password-signup">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
<script src="/javascript/signup.js"></script>